$main-bg-color: rgb(34, 34, 34);
$link-color: #fff;
$margin-glav: 12%; 
$margin-glav-right: 12%;

.container__about {
    display: flex;
    color: black;
    margin-left: $margin-glav;
    margin-top: $margin-glav;
    margin-right: $margin-glav-right;
    justify-content: space-between;

    .about_block1 {
        margin: 0;
        padding-bottom: 30px;
        height: 100px;
        width: 100%;
        font-size: 36px;
        b {
            color: black;
        }
    }
    .about_block3 {
        height: 144px;
        font-size: 19px;
    }
    .about_block4 {
        height: 144px;
        font-size: 40px;
        color: rgb(192, 190, 190); 
        text-align:right ;
      }
    .text-block__about {
        flex-direction: column;
        margin-right: 7%;
    }
}
