$main-bg-color: rgb(34, 34, 34);
$link-color: #fff;
$link-hover-color: #00f;
$margin-glav: 12%; 
$margin-glav-right: 12%;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@350&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
   
    background-color: $main-bg-color;
    color: $link-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: $margin-glav-right;
    padding: 70px;

    .logo {
        
        padding-left: $margin-glav;
        max-width: 100px;  
    }

    nav {
        text-transform: uppercase;
        text-align: 20px;
        display: flex;
        gap: 20px;
        margin-right: $margin-glav;
        a {
            padding-top: 4%;
            text-decoration: none;
            color: $link-color;
            font-weight: bold;

            &:hover {
                color: $link-hover-color;
            }
        }
    }
}
